.container {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #0c0a0a;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 97%;
  padding: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 5px 5px;
  font-size: 15px;
  background-color: #101111;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0b2e11;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
}